<div class="sidenav">

    <a routerLink="/EventBinding">EventBinding</a>
    <a routerLink="/TwoWayDataBinding">TwoWayDataBinding</a>
    <a routerLink="/InteractionDadAndSon">InteractionDadAndSon</a>
    <a routerLink="/Components">Components</a>
    <a routerLink="/InteractionSonAndDad">InteractionSonAndDad</a>
    <hr style="height:1px;border-width:0;color:gray;background-color:gray">
    <a routerLink="/AttributeDirectivesNgStyl">AttributeDirectivesNgStyl</a>
    <a routerLink="/AttributeDirectivesNgClas">AttributeDirectivesNgClas</a>
    <a routerLink="/CustomizeADirectiveAttrib">CustomizeADirectiveAttrib</a>
    <a routerLink="/StructuralDirectivesNgif">StructuralDirectivesNgif</a>
    <a routerLink="/StructuralDirectivesNgfor">StructuralDirectivesNgfor</a>
    <hr style="height:1px;border-width:0;color:gray;background-color:gray">
    <a routerLink="/Pipes">Pipes</a>
    <a routerLink="/Di">Di</a>
    <a routerLink="/InjectingAServicei">InjectingAServicei</a>
    <a routerLink="/MinimalistSyntaxOfARoute">MinimalistSyntaxOfARoute</a>
    <a routerLink="/ActivateActualRouteCheckp">ActivateActualRouteCheckp</a>
    <hr style="height:1px;border-width:0;color:gray;background-color:gray">
    <a routerLink="/TriggerARoute">TriggerARoute</a>
    <a routerLink="/RetrieveTheParameters">RetrieveTheParameters</a>
    <a routerLink="/ChildrenRoute">ChildrenRoute</a>
    <a routerLink="/Routing">Routing</a>
    <a routerLink="/Validation">Validation</a>
    <hr style="height:1px;border-width:0;color:gray;background-color:gray">
    <a routerLink="/AccessingThePropertiesOf">AccessingThePropertiesOf</a>
    <a routerLink="/GroupingForm">GroupingForm</a>
    <a routerLink="/Asyncpipe">Asyncpipe</a>
    <a routerLink="/Subjects">Subjects</a>
    <a routerLink="/ProjectRestApi">ProjectRestApi</a>
    <hr style="height:1px;border-width:0;color:gray;background-color:gray">
    <a routerLink="/AddTheTokenToTheRequest">AddTheTokenToTheRequest</a>
    <a routerLink="/Guard">Guard</a>
    <a routerLink="/Interceptors">Interceptors</a>

</div>